.switch {
  display: flex;
  margin-left: 45%;
  margin-bottom: 50px;
}

.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .purc {
  cursor: pointer;
}


.clicked {
  color: black;
} */

.sell {
  padding-left: 4%;
}

.userInfo2 {
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-top: 60px;
  margin-bottom: 100px;
}

.noList {
  padding-right: 75px;
}
