.prevImg {
  height: 195px;
  width: 195px;
  background-color: grey;
}

.prevDiv {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  margin: 10px;
}

.prevImg:hover {
  opacity: 0.5;
  cursor: pointer;
}

.price {
  font-weight: bold;
}
