.deleteIcon {
  position: relative;
  display: block;
  /* width: 50px;
  height: 50px; */
  /* display: flex; */
  /* right: 5px; */
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
  left: 225px;
  bottom: 20px;
}

.userItems {
  display: flex;
}
.cartImg {
  /* width: 30px; */
  height: 20px;
  margin-left: 20px;
  margin-right: 30px;
  /* margin-bottom: 10px; */
}

.cartUser {
  overflow: scroll;
  /* padding-right: 20px; */
  overflow-y: hidden;
}

.cartImg:hover {
  cursor: pointer;
}

.edit {
  cursor: pointer;
  margin-left: 340px;
}

.emptyContain {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.empty {
  padding-top: 200px;
  height: 120px;
  width: 400px;
}

.checkout {
  font-family: "MyWebFont";
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 140px;
  height: 40px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.checkout:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.userTitle {
  margin-left: 20px;
}

.wholeCart {
  margin-top: 10px;
  margin-bottom: 5px;
}

.cartUser::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f5f5f5;
}

.cartUser::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.cartUser::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
