.navBar {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid black;
  overflow: scroll;
}

.cart {
  position: absolute;
}
